# Main Sample

# Retrieving firms and creating firm list

In [1]:
import pandas as pd
import numpy as np
import pandas_datareader as pdr
import yfinance as yf
from datetime import datetime

In [2]:
metal = pd.read_csv("Data/Metal.csv")
metal = metal.iloc[:17]
metal = metal[["Company", "Ticker"]]
metal_firm = metal["Ticker"].tolist()

In [3]:
energy = pd.read_csv("Data/Energy.csv")
energy = energy[["HOLDINGS", "TICKER"]]
energy_firm = energy["TICKER"].tolist()

In [4]:
micro = pd.read_csv("Data/Microchips.csv")
micro = micro.iloc[:38]
micro = micro[["Name", "Ticker"]]
micro_firm = micro["Ticker"].tolist()

In [5]:
trans = pd.read_csv("Data/Transport.csv")
trans = trans.iloc[:47]
trans = trans[["Name", "Ticker"]]
trans_firm = trans["Ticker"].tolist()

In [6]:
food = pd.read_csv("Data/Food.csv")
food = food[["SecurityName", "Identifier"]]
food_firm = food["Identifier"].tolist()

# Downloading stock prices

In [7]:
start_date = datetime(2022, 2, 1)
end_date = datetime(2023, 3, 10)


metal_stocks = yf.download(metal_firm, start=start_date, end=end_date)
energy_stocks = yf.download(energy_firm,start=start_date,end=end_date)
micro_stocks = yf.download(micro_firm,start=start_date,end=end_date)
trans_stocks = yf.download(trans_firm,start=start_date,end=end_date)
food_stocks = yf.download(food_firm,start=start_date,end=end_date)

[*********************100%***********************]  17 of 17 completed
[*********************100%***********************]  112 of 112 completed
[*********************100%***********************]  38 of 38 completed
[*********************100%***********************]  47 of 47 completed
[*********************100%***********************]  30 of 30 completed

# Cleaning stock data converting to table

In [8]:
metal_prices = metal_stocks.filter(like='Adj Close')               
metal_prices.columns = metal_prices.columns.get_level_values(1)    
metal_prices =  metal_prices.stack().swaplevel().sort_index().reset_index()
metal_prices.columns = ['Firm','Date','Adj Close']

In [9]:
energy_prices = energy_stocks.filter(like='Adj Close')               
energy_prices.columns = energy_prices.columns.get_level_values(1)    
energy_prices =  energy_prices.stack().swaplevel().sort_index().reset_index()
energy_prices.columns = ['Firm','Date','Adj Close']

In [10]:
micro_prices = micro_stocks.filter(like='Adj Close')               
micro_prices.columns = micro_prices.columns.get_level_values(1)    
micro_prices =  micro_prices.stack().swaplevel().sort_index().reset_index()
micro_prices.columns = ['Firm','Date','Adj Close']

In [11]:
trans_prices = trans_stocks.filter(like='Adj Close')               
trans_prices.columns = trans_prices.columns.get_level_values(1)    
trans_prices =  trans_prices.stack().swaplevel().sort_index().reset_index()
trans_prices.columns = ['Firm','Date','Adj Close']

In [12]:
food_prices = food_stocks.filter(like='Adj Close')               
food_prices.columns = food_prices.columns.get_level_values(1)    
food_prices =  food_prices.stack().swaplevel().sort_index().reset_index()
food_prices.columns = ['Firm','Date','Adj Close']

# Getting daily returns

In [13]:
metal_prices = metal_prices.sort_values(['Firm', 'Date'])
metal_prices['Daily Returns'] = metal_prices.groupby('Firm')['Adj Close'].pct_change()

In [14]:
energy_prices = energy_prices.sort_values(['Firm', 'Date'])
energy_prices['Daily Returns'] = energy_prices.groupby('Firm')['Adj Close'].pct_change()

In [15]:
micro_prices = micro_prices.sort_values(['Firm', 'Date'])
micro_prices['Daily Returns'] = micro_prices.groupby('Firm')['Adj Close'].pct_change()

In [16]:
trans_prices = trans_prices.sort_values(['Firm', 'Date'])
trans_prices['Daily Returns'] = trans_prices.groupby('Firm')['Adj Close'].pct_change()

In [17]:
food_prices = food_prices.sort_values(['Firm', 'Date'])
food_prices['Daily Returns'] = food_prices.groupby('Firm')['Adj Close'].pct_change()

# Downloading SP500 Returns

In [18]:
spy = yf.download('^GSPC', start=start_date, end=end_date)
market_ret = spy.filter(like='Adj Close')               
market_ret = market_ret.stack().swaplevel().sort_index().reset_index()
market_ret.columns = ['Firm','Date','Adj Close']
market_ret['Firm'] = "sp500"
market_ret['Daily Returns'] = market_ret['Adj Close'].pct_change()
market_ret

[*********************100%***********************]  1 of 1 completed

      Firm       Date    Adj Close  Daily Returns
0    sp500 2022-02-01  4546.540039            NaN
1    sp500 2022-02-02  4589.379883       0.009423
2    sp500 2022-02-03  4477.439941      -0.024391
3    sp500 2022-02-04  4500.529785       0.005157
4    sp500 2022-02-07  4483.870117      -0.003702
..     ...        ...          ...            ...
272  sp500 2023-03-03  4045.639893       0.016148
273  sp500 2023-03-06  4048.419922       0.000687
274  sp500 2023-03-07  3986.370117      -0.015327
275  sp500 2023-03-08  3992.010010       0.001415
276  sp500 2023-03-09  3918.320068      -0.018459

[277 rows x 4 columns]

In [19]:
event_date = pd.read_csv("Data/MajorEvents.csv")
event_date['Date'] = pd.to_datetime(event_date['Date'])
event_date

         Date                                           Event
0  2022-02-24                           Invasion Announcement
1  2022-02-25  Ukraine announces it will defend its territory
2  2022-03-02                        Refugee Crisis in Poland
3  2022-03-06                         Irpin Bridge Evacuation
4  2022-03-09                        Mariupol Hospital Attack
5  2022-03-16                        Mariupol Theater Bombing
6  2022-04-01                            War crimes uncovered
7  2022-04-14                    Sunking of Russian main ship
8  2022-05-17                    Mariupol Steel Plant Defence
9  2022-09-01                    Russian retreat from Kharkiv
10 2022-09-21                      Russia starts mobilization
11 2022-10-08                            Crimea Bridge Attack
12 2022-10-10                                   Kyiv Blackout
13 2022-11-12                         Kherson city liberation
14 2022-12-21                     Zelensky visits White House
15 2023-01-25                             Germany sends tanks
16 2023-02-20                               Biden visits Kyiv

# Calculating Excess Returns

In [20]:
merged_data = pd.merge(metal_prices, market_ret, on='Date', suffixes=('_Ticker', '_Market'))
merged_data

,Firm_Ticker,Date,Adj Close_Ticker,Daily Returns_Ticker,Firm_Market,Adj Close_Market,Daily Returns_Market
0,ATI,2022-02-01,18.809999,NaN,sp500,4546.540039,NaN
1,CMC,2022-02-01,34.116352,NaN,sp500,4546.540039,NaN
2,CRS,2022-02-01,29.285063,NaN,sp500,4546.540039,NaN
3,FRD,2022-02-01,9.875813,NaN,sp500,4546.540039,NaN
4,GGB,2022-02-01,4.534280,NaN,sp500,4546.540039,NaN
...,...,...,...,...,...,...,...
4704,TS,2023-03-09,32.720001,-0.031666,sp500,3918.320068,-0.018459
4705,TWI,2023-03-09,12.920000,-0.029301,sp500,3918.320068,-0.018459
4706,TX,2023-03-09,43.549999,-0.032652,sp500,3918.320068,-0.018459
4707,WOR,2023-03-09,57.782593,-0.038073,sp500,3918.320068,-0.018459
4708,X,2023-03-09,28.809999,-0.026689,sp500,3918.320068,-0.018459